---
layout: default
pagination: 
  enabled: true
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>


<div class="wrapper">

<h2>How We Help</h2>

<section class="post-excerpt" itemprop="description">
  <p>Tamarack Environmental works alongside Indigenous Nations across Canada to seek environmental protection
    and maximize Indigenous participation and benefits in major development projects. Our work focuses on ensuring
    that proponents adequately accommodate and respect the unique rights, laws and customs of our clients.
    Tamarack specializes in supporting Indigenous communities navigate regulatory processes, including
    environmental/impact assessment, permitting and consultation processes. Through meaningful involvement in
    the regulatory process, we assist communities in asserting jurisdiction around major development projects
    including mines, pipelines, transmission lines, energy projects and roads.
    Tamarack is made up of a collective of professionals who specialize in various disciplines to provide a
    comprehensive approach to assessing major projects. We customize all of our work to fit the needs of each Nation
    we represent. Our experts specialize in:</p>
</section>

</div>